<%= form_for(current_user.memberships.build(group_id: @group.id), remote: true) do |f| %>
<div><%= f.hidden_field :group_id %></div>
<%= f.submit "Join Group", class: "btn btn-large btn-primary" %>
<% end %>
