<% provide(:title, @group.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @group.name %>
      </h1>
    </section>
    <section>
      <%= render 'stats' %>
    </section>
  </aside>
  
  <div class="span8">
    <%= render 'join_form' if signed_in? %>

  </div>
</div>