<% unless current_user?(@user) %>

<%= form_for(current_user.reviews.build(reviewed_id: @user.id)) do |f| %>
  
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new review" %>
  </div>
  
  <div><%= f.hidden_field :reviewed_id %></div>
  
  <%= f.submit "Post Review", class: "btn btn-large btn-primary" %>
<% end %>

<% end %>