<% provide(:title, "Dashboard") %>
<div class="row">
<div class="span10 offset1">
<div class="well">
<ul class="nav nav-pills">
  <li class="active"><a href="#">Dashboard</a>
  </li>
  <li><a href="#">Inbox</a></li>
  <li><a href="#">My Lessons</a></li>
  <li><a href="#">Reviews</a></li>
  <li><a href="#">Account</a></li>
  <li><a href="#">Settings</a></li>
</ul>

<div class="row">
<aside class="span3">
<section>
<%= link_to image_tag(current_user.avatar_url(:profile)), current_user %>
</section>
<section>
  <%= current_user.first_name %>
</section>

<section>

</section>

</aside>
<div class="class7">
<section class="messages">
<div class="page-header"><h4>Your Messages (2)</h4></div>
</section>
<section>
Your reviews
</section>
</div>
</div>
</div>
</div>
</div>