<% provide(:title, @user.to_s) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.to_s %>
      </h1>
    </section>
    <section>

    </section>
  </aside>
  
  <div class="span8">

  </div>
</div>